---
import Link from "../../components/ui/Link.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

import type { MarkdownLayoutProps } from "astro";
import type { MarkdownPostFrontmatter } from "../../types/markdown-post";

export async function getStaticPaths() {
  const allPosts: MarkdownLayoutProps<MarkdownPostFrontmatter>[] = Object.values(
    import.meta.glob("../posts/*.md", { eager: true })
  );
  const allTags = new Set<string>();
  for (const post of allPosts) {
    const tags = post.frontmatter.tags;
    if (Array.isArray(tags)) {
      for (const tag of tags) {
        allTags.add(tag);
      }
    }
  }

  return Array.from(allTags).map((tag) => ({
    params: { tag },
    props: { posts: allPosts.filter((post) => post.frontmatter.tags.includes(tag)) },
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {posts.map((post: any) => <Link title={post.frontmatter.title} url={post.url} />)}
  </ul>
</BaseLayout>
