---
import Link from "../../components/ui/Link.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { convertToKebabCase } from "../../utils/transformers/string";

import { getMarkdownPostTags } from "../../utils/posts";

const allTags = getMarkdownPostTags();
---

<BaseLayout pageTitle="All Tags">
  <p>All available Tags are</p>
  <ul>
    {
      allTags.map((tag) => (
        <Link title={tag} url={`/tags/${convertToKebabCase(tag)}`} />
      ))
    }
  </ul>
</BaseLayout>
