---
import Link from "../../components/ui/Link.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { convertToKebabCase } from "../../utils/transformers/string";

import type { MarkdownLayoutProps } from "astro";
import type { MarkdownPostFrontmatter } from "../../types/markdown-post";

const allPosts: MarkdownLayoutProps<MarkdownPostFrontmatter>[] = Object.values(
  import.meta.glob("../posts/*.md", { eager: true })
);
const allTags = new Set<string>();
for (const post of allPosts) {
  const tags = post.frontmatter.tags;
  if (Array.isArray(tags)) {
    for (const tag of tags) {
      allTags.add(tag);
    }
  }
}
---

<BaseLayout pageTitle="All Tags">
  <p>All available Tags are</p>
  <ul>
    {
      Array.from(allTags).map((tag) => (
        <Link title={tag} url={`/tags/${convertToKebabCase(tag)}`} />
      ))
    }
  </ul>
</BaseLayout>
