---
import Link from "../components/ui/Link.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import { getMarkdownPosts } from "../utils/posts";

const allPosts = getMarkdownPosts();
---

<BaseLayout pageTitle="My Blogs">
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <Link title={post.frontmatter.title} url={post.url} />
      ))
    }
  </ul>
</BaseLayout>
