---
import BaseLayout from "../components/layouts/BaseLayout.astro";

const pageTitle = "Stha Sambeg | Hello";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Welcome to my humble abode in the multiverse of 0s and 1s</h1>
</BaseLayout>
